<footer>
  <hr class="footer-divider" />
  <p class="footer-text">
    Made with ❤️ @
    <a href="https://github.com/IPIshnyky" target="_blank" class="footer-link"
      >IPIshnyky</a
    >
  </p>
  <p class="footer-text">
    Репозиторій проекту:
    <a
      href="https://github.com/IPIshnyky/labs-nodejs-2"
      target="_blank"
      class="footer-link"
      >GitHub</a
    >
  </p>
</footer>
