<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/faq.css">
    <title>FAQ</title>
</head>
<body>
<%- include('partials/nav') %>
<main>
    <h1>Відповіді на запитання в завданні 3</h1>
    <%- include('partials/faqAccordion', { items: faq }) %>

    <%- include('partials/footer') %>
</main>
</body>
</html>