<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <p>Font: <a href="https://vercel.com/font" target="_blank">Geist</a>.</p>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
