<!-- This file is for rendering the dynamic member page -->
<!-- please use <%#- include('partials/nav') %> (without the # symbol)!!! (c) spnchdev, March 5, 2026 -->
 <!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/member.css">
</head>
<body>
<%- include('partials/nav') %>
<main>
    <a href="/team">Назад до команди</a>
</main>
</body>
</html>