<!-- This file is for rendering the dynamic team page -->
<!-- please use <%#- include('partials/nav') %> (without the # symbol)!!! (c) spnchdev, March 5, 2026 -->

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<%- include('partials/nav') %>
<main>
    <h1>Наша команда</h1>
    <% students.forEach(student => { %>
    <div>
    </div>
    <% }) %>
</main>
</body>
</html>