@font-face {
  font-family: "Geist";
  /* noinspection CssUnknownTarget */
  src: url("/fonts/geist/geist-sans/Geist-Regular.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  /* noinspection CssUnknownTarget */
  src: url("/fonts/geist/geist-sans/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --bg: #000000;
  --text: #ededed;
  --accent: #fafafa;
  --accent-glow: rgb(255, 255, 255, 0.1);
  --border: #333333;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fafafa;
    --text: #171717;
    --border: #eaeaea;
    --accent: #000000;
    --accent-glow: rgb(0, 0, 0, 0.1);
  }
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  max-width: 1080px;
  margin: 3rem auto;
  padding: 0 20px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

nav {
  display: flex;
  gap: 30px;
  padding: 20px 0;
  border-bottom: 1px solid var(--border);
  margin-bottom: 50px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  font-family: "Geist Mono", monospace;
  transition: color 0.2s ease;
  padding: 5px 0;
}

nav a:hover {
  color: var(--accent);
}

nav a.active {
  color: var(--accent);
  font-weight: 700;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transition: width 0.2s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a::before,
nav a::after {
  opacity: 0.5;
}

main {
  padding-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0.75rem;
  font-weight: 700;
}

p {
  line-height: 1.6;
  margin: 0.75rem 0;
}

a {
  color: var(--accent);
}

footer {
  margin-top: 3rem;
}

.footer-divider {
  border-color: var(--border);
  margin: 3rem 0;
}

.footer-text {
  margin: 0;
}

.footer-link {
  color: var(--accent);
}

.footer-link:hover {
  text-decoration: underline;
}
